#jinja2: lstrip_blocks: "True"
global
  log stdout format raw local0 notice
  ssl-default-bind-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-bind-options prefer-client-ciphers no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets
  ssl-default-server-ciphersuites TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256
  ssl-default-server-options no-sslv3 no-tlsv10 no-tlsv11 no-tlsv12 no-tls-tickets

defaults
  mode tcp
  timeout client 30s
  timeout connect 10s
  timeout server 30s
  timeout http-request 10s
  log global

frontend main
  tcp-request inspect-delay 5s
  tcp-request content accept if { req.ssl_hello_type 1 }
  bind *:{{ __haproxy_bind_port }}
  default_backend machines

backend machines
  balance leastconn
  default-server inter 5s fall 2 rise 1 check
  {% for host in ansible_play_hosts_all %}
  server {{ hostvars[host].inventory_hostname }} {{ (hostvars[host].inventory_hostname == inventory_hostname) | ternary('host.containers.internal', (hostvars[host].ansible_facts.default_ipv4.address | default(hostvars[host].ansible_facts.all_ipv4_addresses[0]))) }}:{{ __haproxy_backend_port | mandatory }}
  {% endfor %}
