#jinja2: lstrip_blocks: "True"
[Container]
Image={{ __haproxy_container_image }}:{{ __haproxy_container_image_tag }}
PublishPort={{ __haproxy_publish_port }}:{{ __haproxy_bind_port }}
UserNS=keep-id:uid=99,gid=99
Volume=haproxy.volume:/usr/local/etc/haproxy:Z
ReloadSignal=SIGHUP
Retry=5

[Install]
WantedBy=default.target
