#jinja2: lstrip_blocks: True
[Container]
ContainerName=haproxy
Image={{ __haproxy_container_image }}:{{ __haproxy_container_image_tag }}
UserNS=keep-id:uid=99,gid=99
Volume=haproxy.volume:/usr/local/etc/haproxy:ro,Z
ReloadSignal=SIGHUP
Retry=5

[Install]
WantedBy=default.target
