- name: Stop and disable haproxy socket
  ansible.builtin.systemd_service:
    name: haproxy.socket
    state: stopped
    enabled: false
    scope: user
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ quadlet_user_uid }}

- name: Stop and disable haproxy service
  ansible.builtin.systemd_service:
    name: haproxy.service
    state: stopped
    enabled: false
    scope: user
  environment:
    XDG_RUNTIME_DIR: /run/user/{{ quadlet_user_uid }}
