[Unit]
Description=Wait for DNS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/sh -c 'while ! host {{ __quadlet_wait_for_dns_host }}; do sleep 1; done'
