name: Release and Publish

on: # yamllint disable-line rule:truthy
  push:
    branches:
    - main

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
      issues: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Create GitHub app token
      uses: actions/create-github-app-token@v2
      id: app-token
      with:
        app-id: ${{ vars.APP_ID }}
        private-key: ${{ secrets.PRIVATE_KEY }}
    - name: Release Please
      id: release
      uses: googleapis/release-please-action@v4
      with:
        token: ${{ steps.app-token.outputs.token }}
    outputs:
      releases_created: ${{ steps.release.outputs.releases_created }}
      version: ${{ steps.release.outputs.version }}
  publish:
    name: Publish
    needs: release
    if: ${{ fromJSON(needs.release.outputs.releases_created) }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Extract Makefile variables
      run: eval "$(make -q vars/github)"
    - name: Setup uv
      uses: astral-sh/setup-uv@v7
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version-file: .python-version
    - name: Create container image context
      run: make build/context
    - name: Publish container image
      uses: ./.github/actions/container-image
      with:
        push: true
        image: ${{ env.MAKEFILE_CONTAINER_IMAGE }}
        tags: |
          v${{ needs.release.outputs.version }}
          latest
        context: ${{ env.MAKEFILE_BUILD_CONTEXT }}
        platforms: linux/amd64,linux/arm64
